{% extends "blog/base.html" %}
{% load blog_extras %}

{% block title %}Flux{% endblock %}

{% block content %}

    <div class="btn_flux">
        <form  action="{% url 'create_ticket' %}" method='get'>
            {% csrf_token %}
            <input class="btn btn_nav btn-outline-dark" type='submit' value='Demander une critique'>
        </form>
        <form  action="{% url 'review' %}" method='get'>
            {% csrf_token %}
            <input class="btn btn_nav btn-outline-dark " type='submit' value='Créer une critique'>
        </form>
    </div>
    <div class="flux_content ">
        {% for instance in reviews_and_tickets %}
            {% if instance|model_type == 'Ticket' %}
                <div class="content_style">
                    <p> {{instance.title}}</p>
                    <p> <img src="{{instance.image.url}}">  </p>
                    <p> {{instance.description}} </p>
                    <p> {{instance.time_created}} </p>
                    <p> {% get_user_display instance.user %} </p>
                </div>


            {% elif instance|model_type == 'Review' %}

            {% endif %}
        {% endfor %}

    </div>
{% endblock content %}