{% extends "blog/base.html" %}

{% block title %}Voir vos propres post{% endblock %}

{% block content %}
    <h1>Vos posts</h1>
    {% for ticket in tickets %}
            <div id="post_content">
                <div id="image">
                    <img src="{{ticket.image.url}}">
                </div>
                <div id="details">
                    <h2> Vous avez publié un ticket</h2>
                    <h2>{{ ticket.time_created }}</h2>
                    <h2>{{ ticket.titre }}</h2>
                    <h2>{{ ticket.description }}</h2>
                </div>
            </div>
    {% endfor %}

{% endblock content %}