{% extends "blog/base.html" %}

{% block title %} Créer une critique {% endblock %}

{% block content %}
<h1 class="title">Créer une critique</h1>
    <div class="content_style">
         <h2>Vous êtes en train de poster en réponse à</h2>
        <div class="ticket_old">
           <h2>{{ticket.user}} a demandé une critique</h2>
            <h2 class="date">{{ticket.time_created|date:"h:i, j F Y"}}</h2>
            <h2>{{ticket.title}}</h2>
            <h2>{{ticket.description}}</h2>
            <p> <img src="{{ticket.image.url}}">  </p>
        </div>
        <div>
            <h2>Critique</h2>
            <form action="" method="post"> {% csrf_token %}
                {{ review_form.as_p }}
                <input class="btn btn-outline-dark" type="submit" value="Envoyer">
            </form>
        </div>
    </div>

{% endblock content %}