/* Fonts */
@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300;1,300&display=swap');

/* main styles */

body{
    margin: 0;
    padding: 0;
    width: 100%;
    font-family: 'Open Sans', Helvetica, Arial, sans-serif;
    background-color: #FDFEFE;
    background-image: url("background.jpg");
    background-position: top;
    background-repeat: no-repeat;
    background-size: cover;
}

 header{
    width: 100%;
    min-height: 100px;
    position: relative;
    z-index: 2;
}

h1{
  font-size: 1.5em;
}


.content_style{
    background-color: #FBFCFC;
    box-shadow: 10px 5px 5px grey;
    border-top-left-radius: 20px 20px;
    padding: 1em;
}
/* Header*/
nav{
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #34495E;
    position: fixed;
    width: 98%;
    font-size: 1em;
}

.navbar li {
    display: inline-block;
    margin-right: 0.8em;

}
.navbar li a{
    text-decoration: none;
    color: #000000;
    font-weight: bold;
}
.navbar li a:hover {
   color: #FDFEFE;

}

.brain-right{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    text-align: right;

}
.current_user{
    font-size: 1em;
    margin-right: 25px;
    padding: 0;
}

.block_blog{
    margin-top: 40px;

}

/* Flux */
.btn_flux {
    display:flex;
    margin-top: 20px;
    justify-content: space-evenly;

}

.btn_nav{
    width: 200px;
}

.flux_content{
   /* border: 1px solid black;*/
    height: auto;
    margin-top: 20px;
    /*text-align: center;*/


}
/* Create ticket */

.title{
    text-align: center;
    margin-bottom: 20px;
 }

/* Create review */

#id_rating {
    display: flex;
    justify-content: space-evenly;
}

.btn_review{
    margin-bottom: 40px;
}

/* POST */

.post{
    text-align: center;
    margin-bottom: 20px;
}

.ticket_post, .review_post{
    margin: 2% 0;
}
h2{
    font-size: 15px;
}
.date{
  float: right;
  margin-right: 5px;
}

.ticket_post_img{
   margin-left: 10px;
   margin-bottom: 10px;
}

.post_btns{
    display: flex;
}

.btns{
   width: 100px;
   margin: 0 3px 3px 0;
}
.btn_update{
    margin-right: 20px;
}
.ticket_img_btn, .ticket_review{
    display: flex;
    justify-content: space-between;
    align-items: end;
}

.ticket_review{
    display: flex;
    justify-content: space-between;
    align-items: end;
    border: 1px solid black;
}

/* SUBSCRIPTION */


.follow_page, .follow_user{
    align-items: center;
    text-align:center;
}
table{
margin:auto;
}

.follow{
    margin-top: 20px;
}

.tab_follow{
    width: 400px;
    text-align: left;
}