/* Fonts */
@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300;1,300&display=swap');

/* main styles */

.block_page{
    font-family: 'Open Sans', Helvetica, Arial, sans-serif;
    margin-top: 10px;

}

.btn_flux{
  width: 200px;
  }
h1{
    font-size: 1.5em;
}

/* Header */
header{
    display: flex;
    justify-content: space-between;
    align-items: center;
    border: solid black 1px;
    font-size: 1em;
    background-color: #34495E;
}

.navbar li {
    display: inline-block;
    margin-right: 0.8em;

}
.navbar li a{
    text-decoration: none;
    color: #000000;
    font-weight: bold;
}
.navbar li a:hover {
   color: #FDFEFE;
   font-size: 1.5em;
}

/* Flux */

.btn_content {
    display: flex;
    text-align: center;
    margin-top: 50px;
    justify-content: center;

}
.btns{
    display:flex;
    justify-content: space-evenly;
    width: 80%;
}
/* Create ticket */

.ticket_content {
    text-align: center;
    margin-top: 20px;
    border: 1px solid black;
}

/* Create review */

