@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300;1,300&display=swap');

/* Base */
#block_page{
	width: 70%;
	height: 500px;
	margin: auto;
	padding-top: 50px;
	font-family: 'Open Sans', Helvetica, Arial, sans-serif;
	text-align: center;

}

.image_logo{
    width: 100;
    height: 50;
 }

header{
    border: black solid 1px;
    text-align: center;
    font-size: 10px;
    background-color: #34495E;
}

h1{
    font-size: 20px;
    text-align: center;
}

.btn{
  width: 100px;
  height: 30px;
  border-radius: 5px;
  background-color: #ffffff;
}

/* Login */
#content_login_page{
    display: flex;
    justify-content: space-evenly;
    margin-top: 50px;


}

/*
#login{
	text-align: right;
}

.pwd, .pwd1 {
    text-align: center;
}

.user_name{
    text-align: center;
}

/* Signup */

.helptext, ul{
    display: none;
}

#content_signup_page{
    text-align: center;
    margin-top: 50px;

}

#signup_form{
 margin-bottom: 10px;

}
