/* Fonts */
@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300;1,300&display=swap');


/* main styles */

.block_page{
    font-family: 'Open Sans', Helvetica, Arial, sans-serif;
    margin-top: 10px;

}

header{
    border: black solid 1px;
    text-align: center;
   font-size: 1em;
    background-color: #34495E;
}

.forms{
    margin-top: 50px;
}

h1{
    font-size: 20px;
    text-align: center;
}

.btn{
  width: 150px;
  }


/* Login form*/
.login_form{
    margin-top: 50px;
}
.login{
   text-align: center;
}
.btn-login{
    margin-left: 250px;
}

/* Signup btn */
.signup{
   text-align: center;
   margin-top: 15px;
}
.signup_btn{
     margin-top: 30px;
}

/* Signup page */
.signup_form{
   text-align: center;
    margin-top: 50px
}

.btn_back{
    margin-top: 10px
}