{% extends "authentication/base.html" %}

{% block title %}Page d'accueil{% endblock %}

{% block content %}
 <div id="content_login_page">

    <div id="signup">
        <h1>Inscrivez-vous maintenant</h1>
        <form  action="{% url 'signup' %}" method='get'>
            {% csrf_token %}
            <input class="btn" type='submit' value="S'inscrire">
        </form>
    </div>

    <div id="login">
        <h1>Connectez-vous</h1>
        <p>{{ message}}</p>

        <form method='post'> {% csrf_token %}
            {{ form.as_p }}
            <button class="btn" type='submit' >Se connecter</button>
        </form>
    </div>
</div>
{% endblock content %}