{% extends "authentication/base.html" %}
{% block title %}Formulaire d'inscription{% endblock %}
{% block content %}

<div id="content_signup_page" >

    <form class="back" action="{% url 'home' %}" method='get'>
            {% csrf_token %}
            <input class="btn" type='submit' value='Retourner'>
    </form>

    <div id="signup_form">
        <h1>Inscrivez-vous</h1>
              {% if form.errors %}
                  {{form.errors }}
              {% endif %}

        <form method='post'>
            {{ form.as_p }}
            {% csrf_token %}
            <button class="btn" type='submit' >S'inscrire</button>
        </form>
    </div>


</div>
{% endblock content %}